<h1>Editing user</h1>

<p>
  session id: <%= (sess = request.env["rack.session.record"]) ? sess.session_id : "" %>
</p>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
